.form-group{
    margin-bottom: 0px;
}
.modal-header{
    padding: 15px;
}

.opcion{
    cursor: pointer;
}
.opcion div{
    background-color: #E0E0E0;
    margin: 1px;
    width: 25px;
    text-align: center;
}
.opcion input{
    display: none;
}
.opcion input:checked+div{
    background-color: #337ab7;
    color: white;
}
.contenedoreliminar{
    position: relative;
}
.contenedoreliminar .eliminar{
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
}
.contenedoreliminar:hover .eliminar{
    display: block;
}
textarea{
	resize:none;
}

/*Listado de Curso*/
.radiolistadocurso{
  display: none;
}
.radiolistadocurso+label{
  background-color: #34495e;
    border-color: #34495e;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 6px 12px;
    touch-action: manipulation;
    cursor: pointer;
}
.radiolistadocurso:checked+label{
  color: #fff;
  background-color: #4ea5e0;
  border-color: #4ea5e0;

}
/*Fin de Curso*/
/*Listado de Alumno*/
.radiolistadoalumno{
  display: none;
}
.radiolistadoalumno+label{
  background-color: #e7ecf0;
    border-color: #34495e;
    color: ##6a6c6f;
    border-radius: 3px;
    padding: 6px 12px;
    touch-action: manipulation;
    cursor: pointer;
    display: block;
}
.radiolistadoalumno:checked+label{
  color: #fff;
  background-color: #34495e;
  border-color: #4ea5e0;

}
/*Fin de Alumno*/
